<h1>Welcome to your dashboard, <%=@user.email%>!</h1>
    <div class="pull-right">
      <a href="/sessions/logout">Log Out</a>
    </div>

    <div class="content">
      <h3>User Stats</h3>
      <p>Wins, losses, $ amount won/loss, streak, largest bet won, largest bet lost </p>
    </div>

    <div class="sidebar">
      <p><a href="/user/place_wager">Place A Bet!</a></p>
      <p><a href="/live_bets">View / Update Your Bets</a></p>
      <p><a href="/all_bets">View All Bets </a></p>
    </div>

    <%# <footer class="sidebar">
    <a href="/sessions/logout">Log Out</a>
    </footer> %>