<h1>Live Bets</h1>
    <h3>Here is a list of your active bets:</h3>
    <br>
    <div>
        <% @wager.each do |wager| %>
            <p><a href="/live_bets/<%= wager.id %>"><%= wager.bet %> for $<%= wager.amount %></a></p>
        <% end %>
    </div>
    <br>
    <div>
        <p><a href="/user/homepage">Return to Dashboard</a></p>
    </div>

