<h1>Please place your wager below</h1>

<form action="/user/live_bets" method="Post">
    <p>Wager: <input type="text" name="user[PendingWager]" id="PendingWager"></p>
    <p>Dollar Amount: <input type="integer" name="user[amount]" id="amount"></p>
    <input type="submit" value="Place Bet">
</form>
