<%# This view is my new.erb renamed to place_wager (wagers are created here) %>

<h1>Please place your wager below</h1>

<form action="/user/live_bets" method="Post">
    <p>Wager: <input type="text" name="wager[bet]" id="bet"></p>
    <p>Dollar Amount: <input type="integer" name="wager[amount]" id="amount"></p>
    <input type="submit" value="Place Bet">
</form>
