<h1>All Bets Made With Botto's Sportsbook</h1>
    <h3>Here is a list of all active bets:</h3>
    <br>
    <div>
        <% @wager.each do |wager| %>
            <p><%= wager.bet %> for $<%= wager.amount %></p>
        <% end %>
    </div>
    <br>
    <div>
        <p><a href="/user/homepage">Return to Dashboard</a></p>
    </div>

