<h1>Create Account</h1>
<form action="/signup" method="post">
  <br>
  <div>
    <label for="username">Username:</label>
    <input type="text" name="user[username]" id="username">
  </div>
  <br>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password">
  </div>
  <br>
  <input type="submit" value="Create Account">
</form>