<h1>Create Account</h1>
<form action="/user" method="post">
  <br>
  <div>
    <label for="email">Email:</label>
    <input type="email" name="user[email]" id="email">
  </div>
  <br>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password">
  </div>
  <br>
  <input type="submit" value="Create Account">
</form>