<div class="container">
  <header><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrNMYZEp6-zOD8fEYvSYkusYNZPl2w9kXbxMg376vNiepuVZ_Z&s"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Botto's Sportsbook</h2>

    <div class="content">
      <p>Welcome to Botto's Sportsbook!</p>
      <p>We are supported by your two favorite leaders in the industry, DraftKings and Fanduel.</p>
    </div>

    <div class="sidebar">
      <h3>Please login to place your bets!</h3>
      <form>
        <p> Email: <input type="email"></p>
        <p> Password: <input type="password"></p>
        <input type="submit">
      </form>
    </div>

  </div>
</div>
